/* Estilo general de la página */
body {

    background-color: #0A1828;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header a {
    display: inline-block;
    padding: 5px 20px;
    margin: 10px 10px;
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 3px  ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header a:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Estilo de los formularios */
form {
    background-color: #0d2846;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="number"]{
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
}

button[type="submit"] {
    background-color: #000000;
    color: #fff;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}

/* Estilo de la sección de películas */
.peliculas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilo de los títulos */
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #BFA181;
    margin-top: 0;
}

/* Estilo de las secciones */
.editar, .agregar, .eliminar {
    margin-bottom: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.article-div {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-between; /* Cambiado de 'center' a 'space-between' para espacio entre los artículos */
    align-items: flex-start; /* Alineación superior de los artículos */
    max-width: 1000px; /* Agregado para limitar el ancho de los artículos */
    margin: 0 auto; /* Centrado horizontal */
    
}

article {
    background-color: #178582;
    background: linear-gradient(180deg, #178582 4%, rgb(0, 0, 0) 150%);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    flex: 1;
    max-width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
article:hover{
    transform: scale(1.05);
}
article img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

article a {
    text-decoration: none;
    color: #fff;
}

article h2 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    color: #31EC56;
}

article p {
    font-size: 16px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}
article h4{
    font-size: 20px;
    margin-top: 5px;
    color: #BAFF39;
    text-align: center;
}

article iframe{
    flex: 0 0 420px;
    margin-top: 20px;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}